.header {
    background-image: url("../images/slider-1.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 768px;
    clear: both;
    content: '';
    font-size: 1.6rem;
    
}

.top-logo {
    width: 128px;
    height: 30px;
    margin-left: 100.33px;
    /*margin-top: 40px;*/
    
}
    
/*nav {
    display: inline-flex;
    align-items: center;
}  */ 

.menu {
    display: inline-flex;
    width: 100%;
    height: 96px;
    border-bottom: 1px solid $color-brand;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    
}

.menu li {
    list-style: none;
    display: inline-flex;  
    padding: 20px; 
    margin-right: 30px; 
    font-size: large;

}

.ul {
    justify-content: space-evenly;
}

/*.nav {
    display: flex;
    flex-direction: column;
    color: black;
}

/* ul {
    margin: 0;
    padding: 0;
} */

nav ul li a {
    text-decoration: none;
    /* font-weight: bold; */
    color: $color-ft-primary;
    font-family: $font-secondary;
    
    
}

.seccion {
    margin-top: 158px;
    margin-left: 101px;
    margin-right: 711px;
   
}

#Texto1 {
    margin-top: 60px;
    /*top: 254px;
    left: 101px;*/
    width: 554px;
    height: 115px;
    text-align: left;
    letter-spacing: 0.22px;
    color: $color-ft-primary;
    font-family: $font-brand;
    font: normal normal 600 48px/48px Poppins;
    
}

#Texto2 {
    margin-top: 39px;
    margin-bottom: 60px;
    width: 343px;
    height: 42px;
    text-align: left;
    color: $color-ft-primary;
    opacity: 1;
    font-family: $font-secondary;
    font-size: medium;
    font-weight: lighter;
}

#Boton1 {top: 480px;
    left: 101px;
    width: 140px;
    height: 48px;
    
    background: $color-brand 0% 0% no-repeat padding-box;
    border-radius: 25px;
    opacity: 1;
    color: $color-ft-primary; 
    font-size: small;
    font-style: Roboto; 
}