.imagen3 {
    background: transparent url(../images/section3-image.png) 0% 0% no-repeat padding-box;
    opacity: 1;
}

h2 {
    top: 935px;
    left: 299px;
    width: 402px;
    height: 100px;  
}

#div1 {
    background-color: #FFFFFF;
    top: 768px;
    left: 0px;
    width: 1366px;
    height: 400px;
    margin-top: 80px;
    margin-right: 0px;
    margin-left: 50px;
    text-align: center;
    
}
    
.container {
    background-color: #E0752F;
    position: relative;
    margin-bottom: 50px;
}

#parrafo1 {
    top: 1079px;
    left: 299px;
    width: 768px;
    height: 197px;
    margin: auto;
    margin-left: 100px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0-22);
    color: var(--unnamed-color-343434);
    text-align: left;
    font: normal normal normal 16px/28px Roboto;
    letter-spacing: 0.22px;
    color: #343434;
    opacity: 1;
}

#div2 {
    background-color: #F2F4F1;
    background: transparent url(../images/section3-image.png) ;
    top: 740px;
    left: 0px;
    width: 966px;
    height: 550px;
    margin: auto;
    margin-bottom: 50px;
}

#articulo1 {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    top: 1800px;
    left: 695px;
    width: 471px;
    height: 304px;
    background: #E0752F 0% 0% no-repeat padding-box;
    opacity: 1;
}

#Botonleft {
    top: 2053px;
    left: 1066px;
    width: 20px;
    height: 20px;
    background-image: transparent url(../images/Icon\ feather-arrow-left-circle.png) 0% 0% no-repeat padding-box;
    opacity: 1;  
}

#Botonright {
    top: 2053px;
    left: 1097px;
    width: 20px;
    height: 20px;
    background: transparent url(../images/Icon\ feather-arrow-right-circle.png) 0% 0% no-repeat padding-box;
    opacity: 1;
}

#Boton6 {
    top: 3568px;
    left: 101px;
    width: 144px;
    height: 48px;
    background: var(--unnamed-color-e0752f) 0% 0% no-repeat padding-box;
    background: #E0752F 0% 0% no-repeat padding-box;
    border-radius: 25px;
    opacity: 1;
}