//* SECCION ABOUT *//

h2 {
    margin-left: 267px;
    width: 468px;
    height: 100px;
    font-family: $font-brand;
    font-size: xx-large;  
}
/*h2 p {
    font-size: xx-large;
}*/

#about {
    position: relative;
    margin-bottom: 144px;
    margin-top: 144px;
    border-left: solid 32px #E0752F;
    
}

#div1 {
    background-color: $color-ft-primary;
    top: 768px;
    left: 0px;
    width: 1366px;
    height: 384px;
    margin-top: 80px;
    margin-right: 0px;
    margin-left: 50px;
    /*text-align: center;*/
    
}

#parrafo1 {
    width: 768px;
    height: 197px;
    margin-top: 44px;
    margin-left: 267px;
    font-family: $font-secondary;
    text-align: left;
    font: normal normal normal 16px/28px Roboto;
    letter-spacing: 0.22px;
    color: $color-ft-secondary;
    opacity: 1;
}

//* SECCION PRODUCTS *//

#products {
    background-color: $bg-secondary;
    height: 768px;
    border-right: solid 498px $bg-terciary;
    padding-top: 112px;
    
}

#div2 {
    background-image: url(../images/section3-image.png) ;
    width: 966px;
    height: 552px;
    padding-top: 112px;
    margin-bottom: 104px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    
}

h3 {
    font-size: xx-large;
    font-family: $font-brand;
}

#articulo1 {
    color: $color-ft-primary;
    font-family: $font-secondary;
    text-align: left;
    font-size: large;
    margin-left: 495px;
    margin-top: 135px;
    width: 471px;
    height: 304px;
    background: $color-brand 0% 0% no-repeat padding-box;
    opacity: 1;   
    
}

/*#divbotones {
    margin-top: 400px;

}*/

#Botonleft {
    
    width: 20px;
    height: 20px;
    background: url(../images/Icon/feather-arrow-left-circle.png) 0% 0% no-repeat padding-box;
    opacity: 1;  
}

#Botonright {
    
    width: 20px;
    height: 20px;
    background: url(../images/Icon/feather-arrow-right-circle.png) 0% 0% no-repeat padding-box;
    opacity: 1;
}

//* SECCION SERVICES *//

#services {
    height: 768px;
    background: transparent url(../images/section4-image.png) 0% 0% no-repeat padding-box;;
    display: flex;
    align-items: center;
}

#accordionPanelsStayOpenExample {
    width: 669px;
}

.accordion-body {
    width: 595px;
    text-align: center;

}


//* SECCION CONTACT *//

#Boton6 {
    top: 3568px;
    left: 101px;
    width: 144px;
    height: 48px;
    background: var(--unnamed-color-e0752f) 0% 0% no-repeat padding-box;
    background: #E0752F 0% 0% no-repeat padding-box;
    border-radius: 25px;
    opacity: 1;
}
