$color-brand: #E0752F;
$color-ft-primary:#FFFFFF;
$color-ft-secondary: #343434;
$color-ft-terciary: #f8f8f8;
$color-border: #e3e3e3;
$font-brand: 'Poppins', sans-serif;
$font-secondary: 'Roboto';
$bg-secondary:#F2F4F1;
$bg-terciary: #DCE1DA;